.controls {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    justify-content: center;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.control {
    display: flex;
    margin-right: 1%;
    height: 100%;
    width: 20%;
    padding: 0.5%;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-weight: bold;
}

.control.disabled {
    color: #000;
}

.control:not(.disabled):hover {
    position: relative;
    z-index: 10;
    transform: scale(1.1);
    cursor: pointer;
}

.control:active {
    transform: scale(1);
}

.control:first-of-type {
    margin-left: 1%;
}

.control.blue {
    background-color: #3c3b6e;
}

.control.red {
    background-color: #b22234;
}

.new-game.blue,
.spymaster-mode.blue {
    background-color: #b22234;
}

.new-game.red,
.spymaster-mode.red {
    background-color: #3c3b6e;
}

.end-turn,
.pause-turn,
.resume-turn {

}

.spymaster-link {
    display: flex;
    height: 100%;
    width: 100%;
    color: inherit;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

